body {
  margin: 0;
  /* background: rgb(22, 104, 175); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
section {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
}

main {
  /* margin: 0 15px 0 15px; */
  background-color: rgb(239, 241, 243);
  padding: 10px 50px 0px 50px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  position: relative;
}

header {
  position: relative;
  z-index: 20;
  height: 10vh;
  top: 0;
}

a {
  color: inherit;
}

.section {
  box-shadow: 0 1px 5px rgb(196, 189, 189);
}

.section-title {
  margin-bottom: 20px;
}

/*  */
.container-me {
  box-shadow: 0 1px 5px rgb(196, 189, 189);
  /* position: fixed; */
  display: block;
  width: 100%;
}

.navbar-me {
  background-color: rgb(243, 241, 241);
}
.header-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 15px;
  padding: 5px 50px 5px 50px;
  height: 70px;
}
.navbar-name {
  justify-content: center;
  align-items: center;
  display: flex;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

li {
  list-style: none;
  margin-left: 20px;
  margin-right: 10px;
  width: auto;
  height: auto;
  padding: 10px;
}

li:hover {
  background-color: rgb(207, 205, 205);
}

a {
  text-decoration: none;
  position: relative;
  transform: translate(-50%);
}

/* HOME */
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin-top: 70px ; */
  /* padding-top: 50px; */
  /* margin-bottom: 170px; */
}

.teste {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.home-text {
  align-self: center;
}
.home-image {
  max-width: 200px;
  max-height: 200px;
}

#titulo_home2 {
  text-align: initial;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

#img_home {
  width: 100%;
  height: auto;
  border-radius: 50%; /* imagem fica redonda */
}

/*  ABOUT */
.About {
  padding-bottom: 20px;
}
.content-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-image {
  width: 100%;
  height: auto;
  max-width: 210px;
}

.text-about {
  width: 45%;
  align-items: center;
  justify-content: center;
}

/* Skills */

#div_skills {
  display: flex;

  text-align: center;
  flex-direction: column;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.img_skills {
  width: 87px;
  height: 100px;
  max-width: 150px;
}

.imagens {
  width: 100px;
  height: 100px;
}

/* Certifications */

.div_certifications {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.img_certifications {
  width: 100%;
  height: auto;
  max-width: 290px;
}

/* Footer */
/* ===== FOOTER =====*/
.footer {
  background-image: linear-gradient(
    to right,
    rgba(6, 6, 231, 0.9),
    rgba(150, 2, 150, 0.9)
  );
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  position: relative;
  left: -50px;
  width: calc(100% + 100px);
}
.footer__title {
  font-size: 2rem;
}

.footer__icon {
  justify-content: center;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #fff;
}

.text_image {
  text-align: center;
  margin: 0;
}

/*cursor de efeito de digitação*/
#titulo_home::after {
  /* content: '|'; */
  opacity: 1;
  margin-left: 3px;
  animation: piscar 0.7s infinite;
}

@keyframes piscar {
  0%,
  100% {
    /*dos 0 aos 50% e de 50 a 100% tem opacidade 1*/
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 639px) {
  header {
    height: 17vh;
  }

  .header-me {
    display: block;
  }

  .home {
    display: block;
  }
  .teste {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-direction: column;

  }

  .home-image{
    align-self: center;
  }

  .home-text {
    text-align: center;
  }

  .main {
    padding: 0px 25px 0px 25px;
  }

  .about-image {
    max-width: 245px;
    max-height: 245px;
  }

  .section-title {
    margin-bottom: 10px;
  }

  .img_certifications {
    width: 250px;
    height: 200px;
    max-width: 300px;
  }

  .div_img_certifications {
    margin-bottom: 23px;
  }

  ul{
    padding: 0;
  }
  li{
    margin: 0;
  }

  .about{
    padding: 0 10 0 10;
  }
  .text-about{
    margin-left: 5px;
  }
}

@media only screen and (max-width: 500px){
  .content-about{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

  }
  .text-about{
    width: 100%;
  }
}

@media only screen and (max-width: 491px) {
  .header-me {
    padding: 0px;
  }
  ul{
    padding: 0;
  }
  li{
    margin: 0;
  }
}


@media only screen and (max-width: 391px) {
  .header-me {
    margin: 0px;
  }
  ul{
    padding: 0;
  }
  li{
    margin: 0;
  }
}
